/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: rgb(25, 72, 154);
    color: white;
    text-shadow: none;
}

::selection {
    background: rgb(25, 72, 154);
    color: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-container {
    width: 96%;
    margin: 0px 2%;
}

.inview {
    opacity: 0.2;
    bottom: -40px;
    -webkit-transition: opacity 0.75s ease-in-out, bottom 1s ease-in-out;
    transition:         opacity 0.75s ease-in-out, bottom 1s ease-in-out;
}

.inview-fade {
    opacity: 1;
    bottom:0px;
}

h1, 
h2,
h3,
h4,
p,
table,
.nav, 
.nummer,
.story,
.contact h3, 
.contact h3 a {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 0.8px;
    color: #19489a;
    line-height: 1.6;
    -webkit-hyphens: auto;
            hyphens: auto;
}

h4 {font-size: 34px;}
h4 i {font-size: 24px;}


h3,
.nummer,
.contact h3, 
.contact h3 a {
    font-size: 18px;
    display: block;
}

.gray, 
.contact h3 span a{
    color: rgba(0, 0, 0, 0.5);
}

.nav {
    font-size: 18px;
    line-height: 1.85;
    padding-top: 6px;
    display: block;
    cursor: pointer;
}

table,
.accordion p  {
    font-size: 18px;
    padding: 20px 20px;
    padding-left: 25px;
}

ul{
    margin: 0;
    padding-left: 19px;
    list-style-type: none;
}

li {
  text-indent: -19px;
}

li:before {
  content: "-";
  padding-right: 10px;
}

.respbr {display: none}

.content-home {
    margin-top: 140px;
    margin-bottom: 60px;
    padding: 0px 20px;
}

.nav-home {
    border-left: 1px solid #19489a;
    padding-left: 12px; 
}

.content-top {
    position: relative;
    margin-top: 140px;
    margin-bottom: 60px;
    padding: 0px 32px;
}

.content-nav {
    position: relative;
    padding: 8px;
    margin-bottom: 26px;
    cursor: pointer;
}

.content-left {
    position: relative;
    margin-top: 60px;
    padding: 8px 32px;
}
.content-imobilien {
    margin-bottom: 120px;
}

.content-right {
    position: relative;
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 8px 32px;
    margin-left: 33.2%;
}

.content-right-in {
    position: relative;
    margin-top: 60px;
    padding: 8px 32px;
    margin-left: 33.2%;
}

.content {
    position: relative;
    margin-bottom: 60px;
    padding-left: 32px;
    padding-top: 2px;
}

.content-dienst {
    position: relative;
    margin-bottom: 80px;
    padding-left: 32px;
    padding-top: 122px;
}

.content-team-img {
    position: relative;
    overflow: hidden;
    padding: 8px;
    margin-bottom: 26px;
}

.accordion {
    position: relative;
    padding-left: 8px;
    margin-bottom: 80px;
}

.dienstleistung {
    position: relative;
    padding: 8px 34px;
}

.logo-container {
    width: 16.6%;
    float: left;
    text-align: right;
    padding-top: 12px;
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.logo-small {
    width: 84px;
}

.accordion-top,
.top {
     margin-top: 140px;
}

.d-top {
    padding-top: 122px;
}

/* ==========================================================================
   weiter lesen
   ========================================================================== */

.wl {
    display: none;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    color: #19489a;
    
}

/* ==========================================================================
   nav
   ========================================================================== */

a, 
p.subnav-titel, 
.footer, 
.footer-content,
.menu, 
.menusmall {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #19489a;
}

p.subnav-titel, 
.footer, 
.footer-content {
    color: rgba(0, 0, 0, 0.4);
}

.last {
    margin-right: 23.2%;
}

.topnav{
    position: fixed;
    width: 96%;
    margin: 0px 2%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    padding-bottom: 14px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    max-height: 100%;
}

.topnav a, 
.topnav .subnav-titel, 
footer, 
.menusmall, 
.menu {
    display: inline-block;
    padding: 8px;
    width: 100%;
}

.menu {
    cursor: pointer;
}

.navresp {
    padding-top: 15px;
}

.menusmall {
    padding-top: 22px;
    width: 50%;
    float: left;
}

.line, 
.linesub {
    width: 26px;
    text-align: center;
    display: inline-block;
}

.lineactive, 
.lineactivesub {
    width: 26px;
    text-align: center;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ==========================================================================
   geschichte
   ========================================================================== */

.storytop {
    margin-top: 120px;
}

.storystyle {
    position: relative;
    padding: 0px 32px;
    margin-left: 33.2%;
}

.storystyle-left {
    margin-left: 0px;
}

.content-story-img {
    margin-bottom: 90px;
}

.story-bottom {
    margin-bottom: 60px;
}

/* ==========================================================================
   map
   ========================================================================== */

#map {
    width: 100%;
    height: 650px;
    background-color: lightgrey;
}

/* ==========================================================================
   accordion and drop
   ========================================================================== */

.accList, 
.dropList,
.acclistFooter,
.accListSecond {
    display: none;
}

.dropList {
    width: 310px;
}


td {
    vertical-align: top;
    color: rgba(0, 0, 0, 0.5);
}

.year {
    padding-right: 20px;
    color: #19489a;
}

.publyear {
    font-size: 16px;
    padding-right: 20px;
    color: #19489a;
}

.publ {
    padding-bottom: 16px;
    font-size: 16px;
}

/* ==========================================================================
   image
   ========================================================================== */

.container-img {
    position: relative;
    display: block;
    overflow: hidden;
}

.container-img img {
    width: 100%;
    height: auto;
}

.img-home {
    padding: 8px;
}

.container-img .img2 {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.container-img:hover .img2 {
    opacity: 1;
}



/* ==========================================================================
   raster-column
   ========================================================================== */

.column-one {
    width: 16.6%;
    float: left;
}

.column-two {
    width: 33.2%;
    float: left;
}

.column-three {
    width: 50%;
    float: left;
}

.column-four {
    width: 66.4%;
    float: left;
}

.column-five {
    width: 83%;
    float: left;
}

.column-six {
    width: 100%;
    float: left;
    padding: 8px;
}

/* ==========================================================================
   responsive nav
   ========================================================================== */

.topnav .menusmall {
    display: none;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .logo-container {width: 50%;}
    .topnav .navresp {display: none; width: 100%; margin-left: 0;}
    .topnav .menusmall {display: block;}
    .subnav-resp {padding: 10px 20px; padding-bottom: 15px;}
}

@media screen and (min-width: 801px) {
    .topnav .navresp {display: block !important;}
    .topnav .menusmall {display: none;}
}

/* ==========================================================================
   footer
   ========================================================================== */

footer {
    width: 96%;
    margin: 0px 2%;
}

.footer-content {
    padding: 20px 20px;
    padding-left: 25px;
}

.footer{
    cursor: pointer;
    margin-top: 45px;
}

/* ==========================================================================
   responsive
   ========================================================================== */

@media screen and (max-width: 1210px) {
    .column-four {width: 83%;}
    .content-right {margin-left: 17%}
    .content-dienst {margin-bottom: 10px;}
    .d-top {padding-top: 30px;}
    .storystyle {width: 66.4%;}

}

@media screen and (max-width: 990px) {
    .storystyle {width: 83%; margin-left: 16.6%;}
    .storystyle-left {margin-left: 0;}
    .content-story-img {width: 100%}
    .column-two {width: 50%;}
    .column-five {width: 100%;}
    .contact {width: 33.2%;}
    
}

@media screen and (max-width: 770px) {
    .column-four {width: 100%;}
    .content-right {margin-left: 0px;}
    .column-two, .column-three{width: 100%;}
    .topnav .navresp {display: none; width: 100%; margin-left: 0;}
    .accordion-top {margin-top: 10px;}
    .accordion {margin-bottom: 40px;}
    .content-team-img {margin-bottom: 0px; padding-bottom: 0px;}
    .content {margin-bottom: 0px;}
    .storystyle {width: 100%; margin-left: 0;}
    .footer {margin-top: 10px;}
    footer {margin-top: 50px;}
    .contact {margin-left: 0;}
    .content-home {margin-bottom: 20px; margin-top: 0px;}
    .home-top {margin-top: 120px;}
    .contact-resp {margin-bottom: 25px; margin-top: 0px;}
    .contact-resp-top {margin-bottom: 25px;}
}

@media screen and (max-width: 470px) {
    h1, h2, h3, table {font-size: 18px; line-height: 1.45}
    h4, .contact-resp {font-size: 24px;}
    h4 i {font-size: 18px;}
    td {padding-bottom: 16px;}
    .respbr {display: block}
    .top {margin-top: 120px;}
    .content-top {margin-top: 120px; margin-bottom: 30px;}
    .main-container {width: 100%; margin: 0; padding: 0;}
    .topnav {width: 100%; margin: 0; padding-bottom: 10px}
    footer {margin: 50px 0px 0px 0px;}
    body {margin: 0; padding: 0;}
    .wl {display: inline-block;}
    .wl-hidden {display: none;}
    .contact-resp {margin-top: 0px;}
}

@media screen and (min-width: 1600px) {
    .main-container, .topnav, footer {width: 86%; margin: 0px 7%;}
    h3 {font-size: 24px;}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
