RewriteEngine on

# www nach non-www umleiten
RewriteCond %{HTTP_HOST} ^www\.falkenstein\.ag$ [NC]
RewriteRule ^(.*)$ https://falkenstein.ag/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# Cache für statische Assets
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType application/pdf "access plus 1 month"
</IfModule>

# Redirects für ehemalige Mitarbeiter
Redirect 301 /debora-bilgeri https://falkenstein.ag
Redirect 301 /matthias-burri-kueng https://falkenstein.ag
Redirect 301 /frank-th-petermann https://falkenstein.ag
Redirect 301 /tanja-ivanovic https://falkenstein.ag/tanja-coskun-ivanovic
Redirect 301 /andres-thuerlimann https://falkenstein.ag