RewriteEngine on

# HTTP nach HTTPS umleiten
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# Cache für statische Assets
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType application/pdf "access plus 1 month"
</IfModule>

# Redirects für ehemalige Mitarbeiter
Redirect 301 /debora-bilgeri https://www.falkenstein.ag
Redirect 301 /matthias-burri-kueng https://www.falkenstein.ag
Redirect 301 /frank-th-petermann https://www.falkenstein.ag
Redirect 301 /tanja-ivanovic https://www.falkenstein.ag/tanja-coskun-ivanovic
Redirect 301 /andres-thuerlimann https://www.falkenstein.ag